doctype html
html
    head        
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content="Web-server hosted as part of a discord bot NEA project.")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
        title MTPA - Homepage

        meta(name="mobile-web-app-capable", content="yes")
        link(rel="icon", sizes="192x192," href="/images/android-desktop.png")

        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="apple-mobile-web-app-title", content="MTPA")
        link(rel="apple-touch-icon-precomposed", href="/images/ios-desktop.png")
        link(rel="shortcut icon", href="images/favicon.png")
        link(rel="icon", href="images/favicon.ico", type="image/png")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="https://code.getmdl.io/1.3.0/material.orange-amber.min.css")
        link(rel="stylesheet", href="css/styles.css")
    body
        script(src="https://code.getmdl.io/1.3.0/material.min.js")
        script(type="text/javascript").
            function request(method, url, callback) {
                var request = new XMLHttpRequest();
                request.open(method, url, true);
                request.onload = function(e) {
                    return callback(JSON.parse(request.responseText));
                }
                request.onerror = function(e) {
                    console.error(request.statusText)
                }
                request.send(null);
            }

            function updateStats() {
                request('GET', '#{destinationIP}/api/system', (res) => {
                    document.getElementById("hostname").innerHTML = "Hostname: " + res.hostname;
                    document.getElementById("os").innerHTML = "OS: " + res.version + " " + res.release + " " + res.arch;
                    document.getElementById("oUptime").innerHTML = "Uptime: " + res.uptime;
                    document.getElementById("cpu").innerHTML = "CPU: " + res.cpu.model;
                    document.getElementById("memory").innerHTML = "Memory Used: " + res.memory.used + "/" + res.memory.total;
                });
                request('GET', '#{destinationIP}/api/bot', (res) => {
                    document.getElementById("codename").innerHTML = "Codename: " + res.codename + " (" + res.version + ")";
                    document.getElementById("ready").innerHTML = "Ready At: " + res.ready;
                    document.getElementById("bUptime").innerHTML = "Uptime: " + res.uptime;
                    document.getElementById("ping").innerHTML = "Ping: " + res.ping;
                    document.getElementById("szGuild").innerHTML = "Guild Count: " + res.szGuild;
                });
            }
            
            updateStats();
            setInterval(updateStats, 1000);
        div(class="wrapper")
            div(class="layout mdl-layout mdl-js-layout mdl-layout-drawer mdl-layout--fixed-header mdl-layout--fixed-header --fixed-footer mdl-layout--fixed-footer")
                header(class="header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600")
                    div(class="mdl-layout__header-row")
                        span(class="mdl-layout-title") Marvin The Paranoid Android - Statistics
                        div(class="mdl-layout-spacer")

                div(class="drawer mdl-layout__drawer")
                    header(class="drawer-header")
                        div(class="icon-row")
                        img(src="images/icon.png")
                    nav(class="navigation mdl-navigation")
                        a(class="mdl-navigation__link", href="/")
                            i(class="material-icons", role="presentation")
                            | Home
                        a(class="active mdl-navigation__link", href="/statistics")
                            i(class="material-icons", role="presentation") 
                            | Statistics
                        a(class="mdl-navigation__link", href="/changelog")
                            i(class="material-icons", role="presentation")
                            | Changelog
                        div(class="mdl-layout-spacer")
                        a(class="mdl-navigation__link", href="/help")
                            i(class="material-icons", role="presentation") help_outline
                            span(class="visuallyhidden")
                            | Help

                main(class="main_body mdl-layout__content mdl-color--grey-100" style="margin-left:-7px")
                    div(class="mdl-grid content")
                        div(class="mdl-cell mdl-cell--4-col")
                            div(class="mdl-card mdl-shadow--2dp", style="width: 100%;")
                                div(class="mdl-card__title", style="background-color: rgb(221, 144, 37);")
                                    h2(class="mdl-card__title-text", style="text-color: #757575;") OS
                                div(class="mdl-card__supporting-text")
                                    p(id="hostname")
                                    p(id="os")
                                    p(id="oUptime")
                                    p(id="cpu")
                                    p(id="memory")

                        div(class="mdl-cell mdl-cell--4-col")
                            div(class="mdl-card mdl-shadow--2dp", style="width: 100%;")
                                div(class="mdl-card__title", style="background-color: rgb(221, 144, 37);")
                                    h2(class="mdl-card__title-text", style="text-color: #757575;") Bot
                                div(class="mdl-card__supporting-text")
                                    p(id="codename")
                                    p(id="ready")
                                    p(id="bUptime")
                                    p(id="ping")
                                    p(id="szGuild")
                                    
                        div(class="mdl-cell mdl-cell--4-col")
                            div(class="mdl-card mdl-shadow--2dp", style="width: 100%;")
                                div(class="mdl-card__title", style="background-color: rgb(221, 144, 37);")
                                    h2(class="mdl-card__title-text", style="text-color: #757575;") Guild
                                div(class="mdl-card__supporting-text")
                                    div(class="mdl-textfield mdl-js-textfield")
                                        input(class="mdl-textfield__input", type="text", id="guildID")
                                        label(class="mdl-textfield__label", for="text") Guild ID
                                    button(class="mdl-button mdl-js-button mdl-js-ripple-effect", style="background-color: rgb(221, 144, 37); margin-left: 10px; margin-bottom: 10px;")
                                        i(class="material-icons", style="color: #ffffff") arrow_right_alt
                    footer(class="footer mdl-layout__footer mdl-color--grey-100 mdl-color-text--grey-600", style="position: fixed; bottom: 0;")
                        div(class="mdl-layout-spacer")
                        p(style="text-align: center; margin: 0;") Copyright &#169 James Walker 2020